MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=st2i_db
MYSQL_ROOT_HOST=%

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=st2i


SPRING_PROFILES_ACTIVE=docker
SPRING_DATASOURCE_USERNAME=st2i
SPRING_DATASOURCE_PASSWORD=st2i123
LOGGING_LEVEL_ROOT=INFO
LOGGING_LEVEL_COM_EXAMPLE=DEBUG
JAVA_OPTS=-Xms256m -Xmx512m


NG_ENVIRONMENT=development


DOCKER_REGISTRY=gitlab.hacloud.fr
DOCKER_NAMESPACE=snouha
DOCKER_PROJECT=pfe
DOCKER_USERNAME=snouha
DOCKER_PASSWORD=nounou@2501


KEYCLOAK_SERVER_URL=http://keycloak:8080
BACKEND_URL=http://backend:8080
DATABASE_URL=jdbc:mysql://mysql:3306/st2i